@model Restoran.Models.MenuModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@using (Html.BeginForm())
{
    @Html.DisplayFor(model => Model.IdMenu)
    <br />
    @Html.DisplayFor(model => Model.Nama)
    <br />
    @Html.DisplayFor(model => Model.Harga)
    <br />
    @Html.DisplayFor(model => Model.Stok)
    <br />
    @Html.DisplayFor(model => Model.Images)
    <button type="submit" class="btn btn-primary">Submit</button>
}
