@model Restoran.Models.MenuModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => Model.IdMenu)

    @Html.DisplayNameFor(model => Model.Nama)
    <div>@Html.TextBoxFor(model => Model.Nama)</div>
    
    @Html.DisplayNameFor(model => Model.Harga)
    <div>@Html.TextBoxFor(model => Model.Harga)</div>

    @Html.DisplayNameFor(model => Model.Stok)
    <div>@Html.TextBoxFor(model => Model.Stok)</div>

    @Html.DisplayNameFor(model => Model.Images)
    <div>@Html.TextBoxFor(model => Model.Images)</div>

    <div><br /><button type="submit" class="btn btn-primary">Submit</button></div>


}
