@model IEnumerable<Restoran.Models.MenuModel>
@{
    ViewBag.Title = "Home Page";
}
<h2>Halaman Admin</h2>
<h3>Daftar Menu</h3>
@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@
@Html.ActionLink("Create New Menu", "Create", "Menu")
<table class="table table-striped">
    <tr>
        <th>Id Menu</th>
        <th>Nama</th>
        <th>Harga</th>
        <th>Stok</th>
        <th>Images</th>
        <th>Edit</th>
        @*<th>Delete</th>*@
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stok)
            </td>
            <td>
                <img src="~/Images/@item.Images" width="100" />
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdMenu })
            </td>
            @*<td>
                @Html.ActionLink("Delete", "Delete", new { id = item.IdMenu })
            </td>*@
        </tr>
    }
</table>
