@model IEnumerable<Restoran.Models.QorderModel>
@{
    ViewBag.Title = "PesanMenu";
}

<h2>PesanMenu</h2>
<table class="table table-striped">
    <tr>
        <th>Id Menu</th>
        <th>Nama</th>
        <th>Harga</th>
        <th>Images</th>
        <th>Jumlah</th>
        <th>Add</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMenu)
                @Html.DisplayFor(modelItem => item.IdMeja)
            </td>
            <td>
                @Html.HiddenFor(modelItem => item.IdMeja)
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Harga)
            </td>
            <td>
                <img src="~/Images/@item.Images" width="100" />
            </td>
            <td>
                @Html.TextBoxFor(modelItem => item.Jumlah)
            </td>
            <td>
                @Html.ActionLink("Add", "Add", new { idMenu = item.IdMenu, idMeja = item.IdMeja })
            </td>
        </tr>
    }
</table>

