@model Restoran.Models.OrderModel


@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    
    @Html.DisplayNameFor(model => Model.MejaId)
    <div>@Html.DropDownListFor(model => Model.MejaId, Model.tMejas)</div>

    @Html.DisplayNameFor(model => Model.MenuId)
    <div>@Html.DropDownListFor(model => Model.MenuId, Model.tMenus)</div>

    for (int i = 0; i < Model.DaftarMenu.Count; i++)
    {
        @Html.CheckBoxFor(model => Model.DaftarMenu[i].Checked, new { id = "employmentType_" + i })
        @Html.HiddenFor(model => Model.DaftarMenu[i].Value)
        @Html.DisplayFor(model => Model.DaftarMenu[i].Text)
        @*@Html.DisplayFor(model => Model.DaftarMenu[i].Value)*@
        <br />
    }
    <div><br /><input type="submit" value="Submit" /></div>
    
}

@*@model IEnumerable<Restoran.Models.OrderModel>
<table class="table table-striped">
    <tr>
        <th>Nama Menu</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
        </tr>
    }
</table>*@