@model Restoran.Models.OrderModel


@{
    ViewBag.Title = "Create";
}

<h2>Create New Order</h2>

@using (Html.BeginForm())
{

    @Html.DisplayNameFor(model => Model.MejaId)
    <div>@Html.DropDownListFor(model => Model.MejaId, Model.tMejas)</div>
    <br />

    <table class="table table-striped">
        <tr>
            <th>Menu</th>
            <th>Jumlah</th>
            <th>Add</th>
        </tr>
        <tr>
            <td>@Html.DropDownListFor(model => Model.MenuId, Model.tMenus)</td>
            @*<td>@Html.TextBoxFor(model => Model.JumlahMenu)</td>*@
            <td>@Html.DropDownListFor(model => Model.JumlahMenu,
                  new List<SelectListItem> {
                       new SelectListItem { Value = "1" , Text = "1" },
                       new SelectListItem { Value = "2" , Text = "2" },
                       new SelectListItem { Value = "3" , Text = "3" },
                       new SelectListItem { Value = "4" , Text = "4" },
                       new SelectListItem { Value = "5" , Text = "5" },
                       new SelectListItem { Value = "6" , Text = "6" },
                       new SelectListItem { Value = "7" , Text = "7" },
                       new SelectListItem { Value = "8" , Text = "8" },
                       new SelectListItem { Value = "9" , Text = "9" },
                       new SelectListItem { Value = "10" , Text = "10" }
                    },
                  new { @class = "myselect" })</td>
            <td><input type="submit" value="+" /></td>
        </tr>
    </table>
    @Html.ActionLink("View List Order", "Index", "Order")
}
