@model IEnumerable<Restoran.Models.OrderModel>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Create New Order", "Create","Order")
<table class="table table-striped">
    <tr>
        <th>Id Order</th>
        <th>No Meja</th>
        <th>Nama Menu</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MejaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdOrder })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.IdOrder })
            </td>
        </tr>
    }
</table>
