<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @helper Confirm()
    {
        if ((string)ViewContext.RouteData.Values["controller"] == "Menu" && (string)ViewContext.RouteData.Values["action"] == "Index" || (string)ViewContext.RouteData.Values["action"] == "IndexP")
        {
                <text>visible</text>
        }
        else
        {
                <text>hidden</text>
        }
    }

    @helper cUser()
    {
        if ((string)ViewContext.RouteData.Values["controller"] == "Order" && (string)ViewContext.RouteData.Values["action"] == "Index" || (string)ViewContext.RouteData.Values["controller"] == "Kasir" && (string)ViewContext.RouteData.Values["action"] == "Index")
        {
                <text>visible</text>
        }
        else
        {
                <text>hidden</text>
        }
    }
</head>
<body>
    <div class="navbar navbar-light navbar-fixed-top" style="background-color: #b3ffb3; color:#009900;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Restoran", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Login", "Login", "Home")</li>*@
                    <li style="visibility: @cUser()">@Html.ActionLink("Order", "Index", "Order")</li>
                    <li style="visibility: @cUser()"> @Html.ActionLink("Cashier", "Index", "Kasir")</li>
                    <li style="visibility: @Confirm()"> @Html.ActionLink("Daftar Menu", "Index")</li>
                    <li style="visibility: @Confirm()"> @Html.ActionLink("Daftar Pegawai", "IndexP")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Restoran</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
